aiohttp==3.7.4.post0
asgiref==3.4.1
async-timeout==3.0.1
attrs==21.2.0
cachetools==4.2.2
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.4
cycler==0.10.0
Django==3.2.6
geoip2==4.2.0
gunicorn==20.1.0
idna==3.2
ipinfo==3.0.0
ipinfo-django==1.1.0
joblib==1.0.1
kiwisolver==1.3.1
matplotlib==3.4.3
maxminddb==2.0.3
multidict==5.1.0
numpy==1.21.1
pandas==1.3.1
Pillow==8.3.1
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.1
requests==2.26.0
scikit-learn==0.24.2
scipy==1.7.1
seaborn==0.11.1
six==1.16.0
sqlparse==0.4.1
threadpoolctl==2.2.0
typing-extensions==3.10.0.0
urllib3==1.26.6
whitenoise==5.3.0
yarl==1.6.3
