{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Fertilizer Recommendation</title>
	<!-- Bootstrap core CSS -->
	<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	<!-- Fontawesome CSS -->
	<link href="{% static 'css/all.css' %}" rel="stylesheet">
	<link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
	<!-- Custom styles for this template -->
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
	<!-- Navigation -->
	
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-light top-nav fixed-top">
		<div class="container">
			<a class="navbar-brand" href="{% url 'home' %}">
				<img src="{% static 'images/logo.jpg' %}" class="logo" alt="logo" />
			</a>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="fas fa-bars"></span>
			</button>
			<div class="collapse navbar-collapse myDiv" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link active page1" href="{% url 'home' %}" >Home</a>
					</li>
					<li>
						<a class="nav-link page2" href="{% url 'recommend' %}" >Fertilizer Recommend</a>
					</li>
					<li>
						<a class="nav-link page3" href="{% url 'services' %}">Why Soil test?</a>
					</li>

					<li class="nav-item">
						<a class="nav-link page4" href="{% url 'faq' %}">FAQ's</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'about' %}">About</a>
					</li>
					<li class="nav-item">
					<li class="nav-item">
						<a class="nav-link" href="{% url 'contact' %}">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<header class="slider-main">
		<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<!-- Slide One - Set the background image for this slide in the line below -->
				<div class="carousel-item active" style="background-image: url('static/images/slider-01.jpg')">
					<div class="carousel-caption  d-md-block">
						<div class="parentElement">
							<a href="{% url 'recommend' %}" class="btn success mainbutton">
								<h2 class="mainbuttontext first">Click Here for Fertilizer Recommendation</h2>
								<h2 class="mainbuttontext second">Fertilizer Recommend</h2>
							</a>
						</div>
						<h3>Welcome to our website</h3>
						<p>This is a Fertilizer Recommendation system for hassle free selection of fertilizers</p>
					</div>
				</div>
				<!-- Slide Three - Set the background image for this slide in the line below -->
				<div class="carousel-item" style="background-image: url('static/images/slider-03.jpg')">
					<div class="carousel-caption d-md-block">
						<div class="parentElement">
							<a href="{% url 'recommend' %}" class="btn success mainbutton">
								<h2 class="mainbuttontext first">Click Here for Fertilizer Recommendation</h2>
								<h2 class="mainbuttontext second">Fertilizer Recommend</h2>
							</a>
						</div>
						<h3>Soil Test Data</h3>
						<p>Only soil test data, soil type and crop related data needed to be entered for prediction</p>
					</div>
				</div>
				<!-- Slide Two - Set the background image for this slide in the line below -->
				<div class="carousel-item" style="background-image: url('static/images/slider-02.jpg')">
					<div class="carousel-caption d-md-block">
						<div class="parentElement">
							<a href="{% url 'recommend' %}" class="btn success mainbutton">
								<h2 class="mainbuttontext first">Click Here for Fertilizer Recommendation</h2>
								<h2 class="mainbuttontext second">Fertilizer Recommend</h2>
							</a>
						</div>
						<h3>Best Fertilizer Selection</h3>
						<p>Choose the best fertilizer for your crop and soil out of all the choices available.</p>
					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</header>

	<!-- /.container -->
	<!--footer starts from here-->
	<footer class="footer">
		<div class="container bottom_border">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-6 col">
					<h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
					<!--headin5_amrc-->
					<p><i class="fa fa-location-arrow"></i> R.V. College of Engineering, Mysore Rd, Vidyaniketan post,
						Bengaluru-560059 </p>
					<p><i class="fa fa-phone"></i> +91-9876543210 </p>
					<p><i class="fa fa fa-envelope"></i> response-team-fr@gmail.com </p>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6 col">
					<h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
					<!--headin5_amrc ends here-->
					<ul class="footer_ul2_amrc">
						<li>
							<a href="#"><i class="fab fa-linkedin fleft padding-right"></i> </a>
							<p><a href="https://www.linkedin.com/in/sahil-sharma-396b49179/">Linkedin : Sahil Sharma</a>
							</p>
						</li>
						<li>
							<a href="#"><i class="fab fa-linkedin fleft padding-right"></i> </a>
							<p><a href="https://www.linkedin.com/in/ameya-mahadev-gonal-a2ba59134/">Linkedin : Ameya
									MG</a></p>
						</li>
						<li>
							<a href="#"><i class="fab fa-linkedin fleft padding-right"></i> </a>
							<p><a href="https://www.linkedin.com/in/ktnvaish/">Linkedin : Ketan Vaish</a></p>
						</li>
						<li>
							<a href="#"><i class="fab fa-linkedin fleft padding-right"></i> </a>
							<p><a href="#">Linkedin : Harshit Handa</a>
							</p>
						</li>
					</ul>
					<!--footer_ul2_amrc ends here-->
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6">
					<h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
					<!--headin5_amrc-->
					<ul class="footer_ul_amrc">
						<li><a href="https://farmer.gov.in/stl.aspx">Soil Testing labs (State-wise)</a></li>
						<li><a href="https://www.napanta.com/fertilizer-dealer">Offline fertilizer dealers (State-wise)</a></li>
						<li><a href="https://www.napanta.com/market-price/telangana/warangal/warangal">Daily Market Price (of various crops)</a></li>
						<li><a href="https://www.ugaoo.com/plant-care/plant-growth/fertilizers.html">Buy fertilizers online</a></li>
						<li><a href="https://agricoop.gov.in/programmes-schemes-listing">Programmes and Schemes</a></li>
						<li><a href="https://pib.gov.in/PressReleasePage.aspx?PRID=1725612">MSP (crop-wise)</a></li>
					</ul>
					
				</div>
				<!-- <div class="col-lg-3 col-md-6 col-sm-6 ">
					<h5 class="headin5_amrc col_white_amrc pt2">Recent posts</h5>
					headin5_amrc
					 	<ul class="footer_ul_amrc">
						<li class="media">
							<div class="media-left">
								<img class="img-fluid" src="images/post-img-01.jpg" alt="" />
							</div>
							<div class="media-body">
								<p>How to find best dog food?</p>
								<span>22 Sep 2018</span>
							</div>
						</li>
						<li class="media">
							<div class="media-left">
								<img class="img-fluid" src="images/post-img-02.jpg" alt="" />
							</div>
							<div class="media-body">
								<p>How to find best dog food?</p>
								<span>34 Sep 2018</span>
							</div>
						</li>
						<li class="media">
							<div class="media-left">
								<img class="img-fluid" src="images/post-img-03.jpg" alt="" />
							</div>
							<div class="media-body">
								<p>How to find best dog food?</p>
								<span>30 Sep 2018</span>
							</div>
						</li>
					</ul> -->
				<!--footer_ul_amrc ends here-->
				<!-- </div> -->
			</div>
		</div>
		<div class="container">
			<div class="footer-logo">
				<a href="#"><img src="{% static 'images/logo.jpg' %}" alt="" /></a>
			</div>
			<!--foote_bottom_ul_amrc ends here-->
			<p class="copyright text-center">All Rights Reserved. &copy; 2021 <a href="{% url 'recommend' %}">Fertilizer Recommendation</a>
				Design By :
				<a href="#">Team 5</a>
			</p>
			<ul class="social_footer_ul">
				<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
				<li><a href="#"><i class="fab fa-twitter"></i></a></li>
				<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
				<li><a href="#"><i class="fab fa-instagram"></i></a></li>
			</ul>
			<!--social_footer_ul ends here-->
		</div>
	</footer>

	<!-- Bootstrap core JavaScript -->
	<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'index.js' %}""></script>
</body>

</html>
