{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Fertilizer Recommendation</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Fontawesome CSS -->
    <link href="{% static 'css/all.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
    <link href="{% static 'css/recomm.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-light top-nav fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'images/logo.jpg' %}" class="logo" alt="logo" />
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="fas fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link page1" href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a class="nav-link page2 active" href="{% url 'recommend' %}">Fertilizer Recommend</a>
                    </li>
                    <li>
                        <a class="nav-link page3" href="{% url 'services' %}">Why Soil test?</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link page4" href="{% url 'faq' %}">FAQ's</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="full-title" style="background-image: url('static/images/all-title-bg.jpg')">
        <div class="container">
            <!-- Page Heading/Breadcrumbs -->
            <h1 class="mt-4 mb-3">Fertilizer Recommendation
                <small>Choose the best.</small>
            </h1>
        </div>
    </div>

    <!-- Page Content -->
    <div class="container">
        <div class="breadcrumb-main">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">Home</a>
                </li>
                <li class="breadcrumb-item active">Fertilizer Recommendation</li>
            </ol>
        </div>
        {% if not data %}
            <div>
                <h1>Please fill the details below</h1>
            
                <form id="form" action="/output" method="post">
                    {% csrf_token %}
                    <!-- Details -->
                    <div class="form-control">
                        <label for="name" id="label-name">
                            Temperature: 
                        </label>
            
                        <input type="text" name="p1" id="name" value={{temperature}} readonly/>
                    </div>
            
                    <div class="form-control">
                        <label for="email" id="label-email" >
                            Humidity: 
                        </label>
            
                        <input type="text" name="p2" id="name" value={{humidity}} readonly/>
                    </div>
            
                    <div class="form-control">
                        <label for="age" id="label-age">
                            Moisture: 
                        </label>
            
                        <!-- Input Type Text -->
                        <input type="number"  name="p3" id="age" placeholder="Enter moisture content of the soil" required/>
                    </div>
            
                    <div class="form-control">
                        <label for="role" id="label-role" >
                            Soil type: 
                        </label>
            
                        <select name="p4" id="role">
                            <option value=0>Black</option>
                            <option value=1>Clayey</option>
                            <option value=2>Loamy</option>
                            <option value=3>Red</option>
                            <option value=4>Sandy</option>
                        </select>
                    </div>
            
                    <div class="form-control">
                        <label name='p5'>
                            Crop Type: 
                        </label>
            
                        <select name="p5" id="role">
                            <option value=0>Barley</option>
                            <option value=1>Cotton</option>
                            <option value=2>
                                Ground Nuts
                            </option>
                            <option value=3>Maize</option>
                            <option value=4>Millet</option>
                            <option value=5>Oil Seeds</option>
                            <option value=6>Paddy</option>
                            <option value=7>Pulses</option>
                            <option value=8>Sugercane</option>
                            <option value=9>Tobacco</option>
                            <option value=10>Wheat</option>
            
                        </select>
                    </div>
            
                    <div class="form-control">
                        <label for="age" id="label-age" >
                            Nitrogen Content: 
                        </label>
            
                        <!-- Input Type Text -->
                        <input type="number" name='p6' id="age" placeholder="Enter Nitrogen content" required/>
                    </div>
                    <div class="form-control">
                        <label for="age" id="label-age" >
                            Potassium Content: 
                        </label>
            
                        <input type="number" id="age" name='p7' placeholder="Enter Potassium content" required/>
                    </div>
                    <div class="form-control">
                        <label for="age" id="label-age"  >
                            Phosphorus Content: 
                        </label>
            
                        <input type="number" name='p8' id="age" placeholder="Enter Phosphorus content" required/>
                    </div>
                    <button class="subbutton" type="submit" value="submit">
                        Submit
                    </button>
                </form>
            </div>
        {% endif %}
        {% if data %}
        <h1><u>{{data}}</u> is the recommeded fertilizer.</h1>
        <br>
        <p><i class="fas fa-map-marker-alt	"></i> {{ipdata.json.city}}, {{ipdata.json.region}}, {{ipdata.json.country}} </p>
        <p>({{ipdata.json.loc}})</p>
        <p>{{weather}}</p>
        <h6>{{desc1}}</h6>
        <h6>{{desc2}}</h6>
        <h6>{{desc3}}</h6>
        <h6>{{desc4}}</h6>
        <br>
        <h4>{{ph1}}</h4>
        <h6>{{p1}}</h6>
        <br><br>
        {% endif %}
    </div>
    <!-- /.container -->
    <!--footer starts from here-->
    <footer class="footer">
        <div class="container bottom_border">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col">
                    <h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
                    <!--headin5_amrc-->
                    <p><i class="fa fa-location-arrow"></i> R.V. College of Engineering, Mysore Rd, Vidyaniketan post,
                        Bengaluru-560059 </p>
                    <p><i class="fa fa-phone"></i> +91-9876543210 </p>
                    <p><i class="fa fa fa-envelope"></i> response-team-fr@gmail.com </p>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col">
                    <h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
                    <!--headin5_amrc ends here-->
                    <ul class="footer_ul2_amrc">
                        <li>
                            <a href="#"><i class="fab fa-linkedin fleft padding-right"></i> </a>
                            <p><a href="https://www.linkedin.com/in/sahil-sharma-396b49179/">Linkedin : Sahil Sharma</a>
                            </p>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-linkedin fleft padding-right"></i> </a>
                            <p><a href="https://www.linkedin.com/in/ameya-mahadev-gonal-a2ba59134/">Linkedin : Ameya
                                    MG</a></p>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-linkedin fleft padding-right"></i> </a>
                            <p><a href="https://www.linkedin.com/in/ktnvaish/">Linkedin : Ketan Vaish</a></p>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-linkedin fleft padding-right"></i> </a>
                            <p><a href="#">Linkedin : Harshit Handa</a>
                            </p>
                        </li>
                    </ul>
                    <!--footer_ul2_amrc ends here-->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
                    <!--headin5_amrc-->
                    <ul class="footer_ul_amrc">
						<li><a href="https://farmer.gov.in/stl.aspx">Soil Testing labs (State-wise)</a></li>
						<li><a href="https://www.napanta.com/fertilizer-dealer">Offline fertilizer dealers (State-wise)</a></li>
						<li><a href="https://www.napanta.com/market-price/telangana/warangal/warangal">Daily Market Price (of various crops)</a></li>
						<li><a href="https://www.ugaoo.com/plant-care/plant-growth/fertilizers.html">Buy fertilizers online</a></li>
						<li><a href="https://agricoop.gov.in/programmes-schemes-listing">Programmes and Schemes</a></li>
						<li><a href="https://pib.gov.in/PressReleasePage.aspx?PRID=1725612">MSP (crop-wise)</a></li>
					</ul>
    
                </div>
                <!-- <div class="col-lg-3 col-md-6 col-sm-6 ">
    					<h5 class="headin5_amrc col_white_amrc pt2">Recent posts</h5>
    					headin5_amrc
    					 	<ul class="footer_ul_amrc">
    						<li class="media">
    							<div class="media-left">
    								<img class="img-fluid" src="images/post-img-01.jpg" alt="" />
    							</div>
    							<div class="media-body">
    								<p>How to find best dog food?</p>
    								<span>22 Sep 2018</span>
    							</div>
    						</li>
    						<li class="media">
    							<div class="media-left">
    								<img class="img-fluid" src="images/post-img-02.jpg" alt="" />
    							</div>
    							<div class="media-body">
    								<p>How to find best dog food?</p>
    								<span>34 Sep 2018</span>
    							</div>
    						</li>
    						<li class="media">
    							<div class="media-left">
    								<img classs="img-fluid" src="images/post-img-03.jpg" alt="" />
    							</div>
    							<div class="media-body">
    								<p>How to find best dog food?</p>
    								<span>30 Sep 2018</span>
    							</div>
    						</li>
    					</ul> -->
                <!--footer_ul_amrc ends here-->
                <!-- </div> -->
            </div>
        </div>
        <div class="container">
            <div class="footer-logo">
                <a href="#"><img src="{% static 'images/logo.jpg' %}" alt="" /></a>
            </div>
            <!--foote_bottom_ul_amrc ends here-->
            <p class="copyright text-center">All Rights Reserved. &copy; 2021 <a href="{% url 'recommend' %}">Fertilizer Recommendation</a>
                Design By :
                <a href="#">Team 5</a>
            </p>
            <ul class="social_footer_ul">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
            <!--social_footer_ul ends here-->
        </div>
    </footer>
    
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="index.js"></script>
    </body>
    
    </html>
